# build
# ld: warning: -undefined dynamic_lookup may not work with chained fixups
# temporary solution: https://github.com/bazelbuild/bazel/issues/16413
# build --linkopt=-Wl,-no_fixup_chains
build --platforms=//config/platforms:macos_arm64_platform

# Gcov config
# build:gcov --copt -fprofile-arcs 
# build:gcov --copt -ftest-coverage


###############################
#   test                      #
###############################

test --test_verbose_timeout_warnings 
test --verbose_failures
test --keep_going 
test --test_output=all

###############################
# sanitizer                   #
###############################

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

# do not use in production code:
build --config=asan

###############################
# Profile                     #
###############################

build --generate_json_trace_profile

###############################
# macOS SDK Version           #
###############################

# build --macos_sdk_version=15.1

###############################
# Output                      #
###############################

# A more useful default output mode for bazel query, which
# prints "ng_module rule //foo:bar" instead of just "//foo:bar".
query --output=label_kind

###############################
# Build Debug                 #
###############################

# build --compilation_mode=dbg --spawn_strategy=local

###############################
# Coverage                  #
###############################

# # Use Clang as the compiler
build --compiler=clang
build --collect_code_coverage
build --copt=-fprofile-instr-generate
build --copt=-fcoverage-mapping
build --linkopt=-fprofile-instr-generate
build --linkopt=-fcoverage-mapping