name: CI
on: [push, pull_request]
jobs:
  build-and-test:
    strategy:
      matrix:
        os: [macos-14, ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: bazel build //...
      - name: Test
        run: bazel test //... --config=ci
      - name: Format Check
        run: bazel run //tools/format:format -- --check
      - name: DWYU Check
        run: bazel build --config=dwyu //...
